* {
    margin: 0;
    padding: 0;
}

.imagen {
    display: inline-block;
    width: 550px;
    margin: 30px;
    vertical-align: top;

    border: 5px solid rgb(88, 87, 87);

}

.img-100 {
    width: 95%;
    padding: 10px;
}

h1, h2, h3 {
    text-align: center;
}

p {
    text-align: justify;
}
