* {
    padding: 0;
    margin: 0;

}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    width: 500px;
    height: 100px;
    border: 1px black solid;
    margin: 150px;
     }

     .box-2 {
        width: 150px;
        height: 100px;
        background-color: blue;
        position: relative;
        top: 100%;
        left: 30px;
        
         }
         .box-3 {
            width: 150px;
            height: 100px;
            background-color: rgb(255, 0, 0);
            position: relative;
            top: 100%;
            left: 30px;
             }
             .box-4 {
                width: 150px;
                height: 100px;
                background-color: rgb(145, 5, 239);
                position: relative;
                top: 100%;
                left: 30px;
                 }
              
                     .subcontedor {
                        width: 150px;
                        height: 100px;
                        background-color: rgb(0, 200, 255);
                        position: relative;
                        left: 100%;
                        margin: 5px;
                        border-radius: 10px;
                        display: none;

                    }
                         
                         .box-3:hover {
                            background-color: aqua;
                         }

                        .box-3:hover .subcontedor {
                            display: block;
                            position: relative;
                        }
                        
                        